doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, minimal-ui")

		title John Mars

		link(href="./style.css" rel="stylesheet")
		script(src="https://use.fontawesome.com/54a3b01239.js")


	body
		include blocks/bio.pug
		include blocks/education.pug
		include blocks/work.pug
		.pagebreak
		include blocks/teaching.pug
		include blocks/awards.pug
		include blocks/publications.pug
		.pagebreak
		include blocks/skills.pug
