block bio
	#bio
		h1#name #{bio.name}

		#contact
			#website
				!= '<a href=' + bio.website + '><i class="fa fa-lg fa-globe" aria-hidden="true"></i> ' + bio.website + "</a>"
			#email
				!= '<a href=mailto:' + bio.email + '><i class="fa fa-lg fa-envelope" aria-hidden="true"></i> ' + bio.email + "</a>"
			#phone
				!= '<a href=tel:' + bio.phone + '><i class="fa fa-lg fa-phone" aria-hidden="true"></i> ' + bio.phone + "</a>"
		

block profiles
	#profiles
		each profile in bio.profiles
			.profile
				!= '<a href="' + profile.url + '"><i class="fa fa-lg fa-' + profile.network.toLowerCase() + '" aria-hidden="true"></i> ' + profile.username + "</a>"
