block publications
	.publications
		h2 Publications
		ul#pubs
			each pub in publications
				li.pub
					h4
						!= "<strong>" + pub.name + "</strong><br>" + pub.publisher + " <em> — " + pub.date + "</em>"

					//- each name, index in pub.authors.split(" and ")
					//- 	if name == "Mars, John"
					//- 		!= "<u>"
					//- 	if name.split(", ")[1] != null
					//- 		!= name.split(", ")[0] + ", " + name.split(", ")[1].charAt(0) + "."
					//- 	if name == "Mars, John"
					//- 		!= "</u>"
					//- 	if index < pub.authors.split(" and ").length - 1
					//- 		!= ", "
						