doctype html
html
  head
    link(rel="stylesheet", href="./style.scss")
  body
    #container
      include ./blocks/bio.pug
      include ./blocks/skills.pug
      include ./blocks/work.pug
      include ./blocks/teaching.pug
      include ./blocks/education.pug
      include ./blocks/awards.pug
      include ./blocks/publications.pug
    script(src="./index.js")